# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @sc-jonasbangchristensen @michaelbaranov

# The files in the `/demo/` directory are only expected
# to be updated by demo team. Setting CODEOWNER to
# demo team members.
/demo/ @jeanfrancoislarente @adoprog
