apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
- configmaps

images:
- name: sitecore-xc-bizfx
  newName: scr.sitecore.com/sxc/nonproduction/sitecore-xc-bizfx
  newTag: 10.2-ltsc2019
- name: sitecore-xc1-cd
  newName: scr.sitecore.com/sxc/nonproduction/sitecore-xc1-cd
  newTag: 10.2-ltsc2019
- name: sitecore-xc1-cm
  newName: scr.sitecore.com/sxc/nonproduction/sitecore-xc1-cm
  newTag: 10.2-ltsc2019
- name: sitecore-xc-id
  newName: scr.sitecore.com/sxc/nonproduction/sitecore-xc-id6
  newTag: 10.2-ltsc2019
- name: sitecore-xp1-cortexprocessing
  newName: scr.sitecore.com/sxp/sitecore-xp1-cortexprocessing
  newTag: 10.2-ltsc2019
- name: sitecore-xp1-cortexprocessingworker
  newName: scr.sitecore.com/sxp/sitecore-xp1-cortexprocessingworker
  newTag: 10.2-ltsc2019
- name: sitecore-xp1-cortexreporting
  newName: scr.sitecore.com/sxp/sitecore-xp1-cortexreporting
  newTag: 10.2-ltsc2019
- name: sitecore-xc-engine
  newName: scr.sitecore.com/sxc/nonproduction/sitecore-xc-engine
  newTag: 10.2-ltsc2019
- name: sitecore-xc1-prc
 # newName: scr.sitecore.com/sxc/nonproduction/sitecore-xc1-prc
  newName: scr.sitecore.com/sxp/sitecore-xp1-prc
  newTag: 10.2-ltsc2019
- name: sitecore-xc1-xdbautomation
  newName: scr.sitecore.com/sxc/nonproduction/sitecore-xc1-xdbautomation
  newTag: 10.2-ltsc2019
- name: sitecore-xp1-xdbautomationrpt
  newName: scr.sitecore.com/sxp/sitecore-xp1-xdbautomationrpt
  newTag: 10.2-ltsc2019
- name: sitecore-xc1-xdbautomationworker
  newName: scr.sitecore.com/sxc/nonproduction/sitecore-xc1-xdbautomationworker
  newTag: 10.2-ltsc2019
- name: sitecore-xc1-xdbcollection
  newName: scr.sitecore.com/sxc/nonproduction/sitecore-xc1-xdbcollection
  newTag: 10.2-ltsc2019
- name: sitecore-xp1-xdbrefdata
  newName: scr.sitecore.com/sxp/sitecore-xp1-xdbrefdata
  newTag: 10.2-ltsc2019
- name: sitecore-xc1-xdbsearch
  newName: scr.sitecore.com/sxc/nonproduction/sitecore-xc1-xdbsearch
  newTag: 10.2-ltsc2019
- name: sitecore-xc1-xdbsearchworker
  newName: scr.sitecore.com/sxc/nonproduction/sitecore-xc1-xdbsearchworker
  newTag: 10.2-ltsc2019

resources:
  - bizfx.yaml
  - cm.yaml
  - cd.yaml
  - id.yaml
  - cortexprocessing.yaml
  - cortexprocessingworker.yaml
  - cortexreporting.yaml
  - engine-authoring.yaml
  - engine-minions.yaml  
  - engine-shops.yaml
  - prc.yaml
  - xdbautomation.yaml
  - xdbautomationrpt.yaml
  - xdbautomationworker.yaml
  - xdbcollection.yaml
  - xdbrefdata.yaml
  - xdbsearch.yaml
  - xdbsearchworker.yaml